<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="LATIHAN1.css" />
  </head>
  <body>
 
    <div class="container">
      <div class="moving-box">
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="red"></div>
        <div class="green"></div>
        <div class="yellow"></div>
      </div>
    </div>

    <div class="purple"></div>
    <div class="container">
      <div class="yellow1"></div>
      <div class="yellow1"></div>
      <div class="yellow1"></div>
      <div class="yellow1"></div>
    </div>
  </body>
</html>
