.jaemin{
        background-color: yellow;
        height: 100px;
        width: 100px;
        border: 3px solid rgb(0, 0, 0);
        margin: auto;
        margin-right: 50px;
        display: inline-block;
}
.mark{
    background-color: rgb(13, 168, 52);
        height: 100px;
        width: 100px;
        border: 3px solid rgb(0, 0, 0);
        margin: auto;
        margin-right: 50px;
        display: inline-block;
}
.renjun{
    background-color: red;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.jaemin1{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.mark1{
background-color: rgb(13, 168, 52);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.jaemin2{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.mark2{
background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.renjun2{
background-color: rgb(4, 0, 255);
height: 100px;
width: 100px;
border: 3px solid rgb(0, 0, 0);
margin: auto;
margin-right: 50px;
display: inline-block;
}
.jaemin3{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.mark3{
background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.jaemin4{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.mark4{
background-color: yellow;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-right: 50px;
    display: inline-block;
}
.renjun4{
background-color: yellow;
height: 100px;
width: 100px;
border: 3px solid rgb(0, 0, 0);
margin: auto;
margin-right: 50px;
display: inline-block;
}
.jaemin5{
background-color: yellow;
height: 100px;
width: 100px;
border: 3px solid rgb(0, 0, 0);
margin: auto;
margin-right: 50px;
display: inline-block;
}
.mark5{
background-color: yellow;
height: 100px;
width: 100px;
border: 3px solid rgb(0, 0, 0);
margin: auto;
margin-right: 50px;
display: inline-block;
}

